.section-menu, .header-content {
	display: flex;
	width: 100%;
	background: white;
	justify-content: center;
}

#bwp-header .menu-header {
	order: 0 !important;
}

.menu-header {
	align-items: center;
	justify-content: center;
}

.section-search {
	flex: 1 0 30%;
}

.bwp-testimonia .testimonial-title h2 {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 20px !important;
}

@media (min-width: 767px) {
	.bwp-header.header-v4 .header-content {
		padding: 0 40px 40px 40px;
	}

	.fa-phone {
		font-size: 20px;
	}

	.phone {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.work-section p {
		margin: 0;
	}

	body .desktop-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 24px;
	}
}

@media (max-width: 767px) {
	#bwp-header .phone {
		display: none;
	}

	.work-section {
		display: none;
	}

	.wpbingoLogo {
		position: absolute;
		right: 0;
		bottom: 0;

	}
}