@font-face{
    font-family: "Helvetica Thin";
    src: url("../fonts/helveticathin.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "Helvetica Medium";
    src:  url("../fonts/helveticamedium.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "Helvetica Bold";
    src:  url("../fonts/helveticabold.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Helvetica Light";
    src: url('../fonts/helveticalight.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}